<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> meta}}

    {{{blog_head}}}

    <title>{{title}}</title>
    {{> head}}
    {{{block "pageStyles"}}}
</head>
<body class="{{bodyClass}}">
    {{{body}}}
    {{{block "pageScripts"}}}
</body>
<script src="/assets/main.js"></script>
</html>